
.footer {
  margin: 1rem 0 0 0;
  padding: 1.5rem 2rem 1.5rem 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: right;
  flex-direction: row;
  color: rgb(211, 211, 211);
}

.footer-link {
  margin: 0rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
  text-align: right;
}

@media screen and (max-width: 450px) {
  .footer-container { 
    flex-direction: column;
    line-height: 2.0;
  }
}
